@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

img {
    width: 100%;
    margin: 0 auto;
}

.half-width {
    width: 46%;
    margin: 0 2%;
    padding: 0 20px;
}

.button {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 20px;
    padding: 16px 40px;
    border-radius: 32px;
    background-image: linear-gradient(45deg, orange, tomato);
}

/* header section design */
#header {
    height: 500px;
    background-image: url(../images/background/project-cover-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#moto {
    padding-top: 160px;
    color: whitesmoke;
    font-size: 100px;
    text-align: center;
}

/* diet part design */
.diet {
    display: flex;
    margin: 50px auto;
    flex-direction: row;
}

.diet-description {
    margin-top: 40px;
}

.orange-color {
    color: orange;
}

.diet-section-title {
    color: #575757;
    font-size: 50px;
    font-weight: 700;
}

.color-828282 {
    color: #828282;
    margin: 20px 0;
}

/* about me design */
.about-me {
    display: flex;
    margin: 50px auto;
    flex-direction: row;
    background-image: url(../images/background/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.about-description {
    padding-top: 125px;
}

.about-title {
    font-size: 30px;
}

.about-details {
    padding-bottom: 20px;
}

/* my recipies design */
.my-recipies {
    margin-bottom: 50px;
}

.my-recipies-head {
    text-align: center;
    width: 50%;
    margin: 0 auto 35px;
}

.recipies-section-title {
    font-size: 30px;
}

.recipies {
    display: flex;
}

.recipie {
    border-radius: 25px;
    box-shadow: 10px 10px 20px 20px #eaeaea;
    margin: 0 2%;
    padding: 35px;
}

.recipie-title {
    font-size: 35px;
    margin: 20px 0 10px;
}

.connection {
    display: flex;
    justify-content: space-around;
    padding: 60px 0;
    margin: 50px 2% 0;
    box-shadow: 10px 10px 20px 20px #eaeaea;
    border-radius: 20px;
}